<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>layout</title>
    <Link rel="stylesheet" href="estilos.css">
    <script src="https://kit.fontawesome.com/52bd55aa7f.js" crossorigin="anonymous"></script>
</head>

<body>
    <main class="caja-principal">
     <header>
        <p class="text-zafary">Zafary</p>
     </header>
            <section class="caja-2">

                <article class="titulo">
                    <h1 class="texto" id="Home"><i class="fas fa-home"></i> Home</h1>
                </article>

                <article class="titulo">
                    <h1 class="texto" id="wazapp"><i class="fab fa-whatzapp"></i> fa-whatzapp</h1>
                </article>

                <article class="titulo">
                    <h1 class="texto" id="Zpotify"><i class="fab fa-Zpotify"></i> Zpotify</h1>
                </article>

            </section>

        <section class="caja-3">

            <h1 class="tit2" id="titulo">Zafary<br>La mejor forma<br>de ver los sitios web.</h1>
            <iframe class="if" id="iFrame" src="../Home/index.html" frameborder="0"></iframe>

        </section>

    <script src="./index.js"></script>

    </main>
</body>

</html>