
body {
    margin: 0 auto;
    width: 1440px;
    height: 900px;
    position: absolute;
    left: 33px;
    display: grid;
    grid-template-columns: 0 2;
    text-align: center;
}


.caja-principal {
    width: 1440px;
    height: 900px;
    box-sizing: border-box;
}

.text-zafary {
    padding-top: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    color: white
}


header {
    width: 1447px;
    height: 115px;
    background: black;
    box-sizing: border-box;
}


.caja-2 {
    width: 433px;
    height: 760px;
    background: rgb(195, 196, 255);
    box-sizing: border-box;
    float: left;
    text-align: left;
}


.caja-3 {
    text-align: center;
    width: 1010px;
    height: 750px;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    margin-left: 433px;
}


.if {
    width: 1010px;
    height: 522px;
}


h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 47px;
    color: #000000;
}

.titulo {
    width: 433px;
    height: 108px;
    background: rgb(195, 223, 255);
    border-bottom: 2px solid rgb(119, 194, 255);
    padding-top: 27px;
    box-sizing: border-box;
}

.texto {
    cursor: pointer;
    margin-left: 41px;
    margin-top: 0px;
    margin-bottom: 0px;
}